/* Reset de base */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
}

/*---------------------------Navbar---------------------------*/

/*Conteneur principal*/
.navbar {
    width: 100%;
    background-color: #008dff;
    padding: 20px 0;
}

/*Wrapper interne pour centrer le contenu*/
.navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*conteneur du logo*/
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*Logo*/
.logo {
    height: 60px;
    width: auto;
}

/*Logo titre*/
.logo-container h2 {
    color: white;
    font-size: 24px;
    margin: 0;
}

/*conteneur de la barre de recherche*/
.search-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/*Barre de recherche*/
input {
    padding: 10px;
    width: 250px;
}

/*bouton rechercher*/
button {
    background: none;
    border: 2px solid;
    line-height: 1.5;
    margin: 0.5em;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 15px;
}

button {
    color: #006bc1;
    transition: 0.25s;
}

    button:hover, button:focus {
        border-color: var(--hover);
        color: #fff;
    }

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}

    .offset:hover, .offset:focus {
        box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
    }

.offset {
    --color: #0078d8;
    --hover: #0078d8;
}

/*Cacher l'icône par défaut*/
button .icon {
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.3s ease;
}

/*Montrer l’icône au hover*/
button:hover .icon,
button:focus .icon {
    opacity: 1;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    input, button {
        width: 80%;
        max-width: 300px;
    }
}



/*---------------------------Classes du body---------------------------*/

.container {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.hidden {
    display: none;
}

.sunny {
    background-color: #ffe87c;
    color: #333;
}

.rainy {
    background-color: #3e3e3e;
    color: #fff;
}

.cloudy {
    background-color: #1a1a1a;
    color: #fff;
}